<h2 class="screen-align">Addtypes</h2>
<div id="template-ivii" class="row">
    <div id="template-iqrb" class="cell">
        <label id="template-i4bb" class="label">name</label>
        <input id="template-ip5d" [(ngModel)]="types.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iqpk" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
    <div id="template-iq7b" class="cell">
        <label id="template-ibb2" class="label">description</label>
        <input id="template-i4m9" [(ngModel)]="types.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>