<h2 class="screen-align">Addseverity</h2>
<div id="template-i6yi" class="row">
    <div id="template-ik32" class="cell">
        <label id="template-ibd4" class="label">name</label>
        <input id="template-io7g" [(ngModel)]="severity.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i5ar" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
    <div id="template-indh" class="cell">
        <label id="template-i2bg" class="label">description</label>
        <input id="template-i9xx" [(ngModel)]="severity.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>